.homepage_section1_outline {
  width: 100%;
  min-width: 1400px;
  background-color: #fffefc;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

.homepage_section1 {
  padding: 100px 120px 0px;
  min-height: 100vh;
  width: 1400px;
  background-color: #fffefc;
}

.homepage_section2_outline {
  width: 100%;
  min-width: 1200px;
  background-color: #fffefc;
}

.homepage_section2_frame {
  width: 100%;
  min-width: 1200px;
  border-bottom: 1px solid #DEDCBF;
  border-top: 1px solid #DEDCBF;
  background-color: #FBFBF6;
  border-radius: 80px 80px 0px 0px;
  display: flex;
  justify-content: center;
}

.homepage_section2 {
  width: 1100px;
  padding: 100px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homepage_section3_outline {
  width: 100%;
  min-width: 1200px;
  background-color: #FBFBF6;
  display: flex;
  justify-content: center;
}

.homepage_section3 {
  width: 1440px;
  padding: 100px 160px 100px;
  background-color: #FBFBF6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homepage_section4_outline {
  background-color: #FBFBF6;
  width: 100%;
  min-width: 1400px;
}

.homepage_section4_frame {
  width: 100%;
  min-width: 1400px;
  border-top: 1px solid #DEDCBF;
  background-color: #F5F4E9;
  border-radius: 80px 80px 0px 0px;
  display: flex;
  justify-content: center;
}

.homepage_section4 {
  width: 1400px;
  padding: 100px 120px;
}

/* ==================== section1 ===================== */
/* ========== logo,nav,banner position area ========== */

.homepage_section1_frame {
  display: flex;
  justify-content: space-between;
}

.homepage_section1_frame_left {
  display: block;
}

.homepage_section1 .logo img {
  height: 197.5px;
  width: 182.91px;
}

.homepage_section1_nav {
  padding: 0px 0px 0px 12px;
  margin: 45px 0px;
}

.homepage_section1_nav li {
  list-style: none;
}

.homepage_section1_nav a {
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  line-height: 50px;
  color: #464646;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-weight: bold;
}

/* =========== section1 =============== */
/* ========== nav hover area ========== */

.homepage_section1_nav a span {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 300ms ease;
  font-size: 20px;
  /* border: 1px solid black; */
}

.homepage_section1_nav a span::before {
  display: inline-block;
  content: attr(data-content);
  transform: translateX(100%);
  transition: transform 300ms ease;
  text-decoration: underline 3px #464646;
  color: #46464600;
  font-weight: bold;
  /* border: 1px solid black; */
  padding: 5px 0px 0px;
  min-width: max-content;
}

.homepage_section1_nav a:hover span {
  transform: translateX(0);
}

.homepage_section1_nav a:hover span::before {
  transform: translateX(0);
}

/* =========== section1 =============== */
/* ========== slogan area ========== */

.homepage_section1 .slogan_frame {
  /* border: 1px solid black; */
  font-size: 129px;
  font-weight: bolder;
  position: relative;
  top: -84px;
  color: #464646;
}

.homepage_section1_orange {
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-70px);
  }
}


/* =========== section2 =============== */
/* ========== title,button area ========== */

.homepage_section2 h1 {
  text-align: left;
  color: #464646;
  margin: 0px 0px 40px;
}

.homepage_section2 .text {
  text-align: left;
  color: #464646;
  line-height: 24px;
}

.homepage_section2 .btn {
  display: flex;
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  padding: 12px 12px;
  cursor: pointer;
  margin: 40px 0px 0px;
  position: relative;
  left: -12px;
}

.homepage_section2 .btn span {
  color: white;
  font-size: 14px;
}

.homepage_section2 a {
  text-decoration: none;
}

.homepage_section2 .btn:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

.homepage_section2 .btn img {
  vertical-align: text-bottom;
  height: 16px;
  width: 16px;
  margin: 0px 4px;
}

/* =========== section2 =============== */
/* ========== cards position area ========== */

.homepage_section2 .cards {
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0px 160px 0px 0px;
  color: white;
  perspective: 1000px;
  transform-origin: center;
}

.homepage_section2 .cards_showing {
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.homepage_section2 .cards_showing.step-animation {
  animation: carousel 8s infinite steps(1) forwards;
}

/* =========== section2 =============== */
/* ========== individual cards area ========== */

.homepage_section2 .cards_item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  height: 40vw;
  max-width: 456px;
  max-height: 300px;
  border-radius: 32px;
  transform-origin: center;
  background-color: white;
  display: flex;
  padding: 20px;
}

.homepage_section2 .cards_item .cards_item_left {
  padding: 20px 0px 0px 30px;
}

.homepage_section2 .cards_item .cards_item_right {
  padding: 60px 0px 0px 36px;
}

.homepage_section2 .cards h3 {
  color: #464646;
}

.homepage_section2 .cards .cards_detail {
  color: #464646;
  font-size: 14px;
}

.homepage_section2 .cards_item:nth-child(1) {
  box-shadow: 0 0 0 .57em #B9D27E;
  transform: rotateY(0) translateZ(35vw);
}

.homepage_section2 .cards_item:nth-child(2) {
  box-shadow: 0 0 0 .57em #C7C4DC;
  outline-offset: -1px;
  transform: rotateY(120deg) translateZ(35vw);
}

.homepage_section2 .cards_item:nth-child(3) {
  box-shadow: 0 0 0 .57em #F6DD6F;
  outline-offset: -1px;
  transform: rotateY(240deg) translateZ(35vw);
}

@keyframes carousel {

  0%,
  17.5% {
    transform: translateZ(-35vw) rotateY(0);
  }

  27.5%,
  45% {
    transform: translateZ(-35vw) rotateY(-120deg);
    ;
  }

  55%,
  72.5% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }

  82.5%,
  100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}

/* =========== section3 =============== */
/* =========== position =============== */

.homepage_section3_left {
  display: flex;
  align-items: end;
}

.homepage_section3 h1 {
  text-align: left;
  color: #464646;
  margin: 0px 0px 40px;
}

.homepage_section3 .text {
  text-align: left;
  color: #464646;
}

/* =========== section3 =============== */
/* =========== button =============== */

.homepage_section3 .btn {
  display: flex;
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  padding: 12px 12px;
  cursor: pointer;
  margin: 40px 0px 74px;
  position: relative;
  left: -12px;
}

.homepage_section3 .btn span {
  color: white;
  font-size: 14px;
}

.homepage_section3 a {
  text-decoration: none;
}

.homepage_section3 .btn:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

/* =========== section3 =============== */
/* =========== animation =============== */

.homepage_section3_red1 {
  animation: roll1 6s ease-out infinite;
  transform-origin: center center;
  margin-left: 0;
}

@keyframes roll1 {

  0%,
  100% {
    transform: translateX(-25px) rotate(0deg);
  }

  50% {
    transform: translateX(105px) rotate(360deg);
  }
}

.homepage_section3_red2 {
  animation: roll2 6s ease-in infinite;
  transform-origin: center center;
  margin-left: 0;
}

@keyframes roll2 {

  0%,
  100% {
    transform: translateX(170px) rotate(360deg);
  }

  50% {
    transform: translateX(95px) rotate(0deg);
  }
}

/* =========== section4 =============== */
/* =========== title=============== */

.homepage_section4 .title_area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.homepage_section4 .title_area h1 {
  color: #464646;
  font-size: 32px;
  margin: 0px 24px;
}

/* =========== section4 =============== */
/* =========== step =============== */

.homepage_section4 .num_frame {
  font-size: 44px;
  font-weight: bolder;
  color: #464646;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 24px;
  font-style: italic;
}

.homepage_section4 .num_block {
  width: 360px;
  text-align: center;
}


.homepage_section4 .step {
  display: flex;
  justify-content: space-between;
}

.homepage_section4 .step .list {
  background-color: #fffefc;
  border-radius: 180px 180px 8px 8px;
  padding: 20px 60px;
  text-align: center;
  color: #464646;
}

.homepage_section4 .step .service_name h1 {
  margin: 50px 0px 16px;
}

.homepage_section4 .step .service_name span {
  line-height: 32px;
  font-size: 16px;
}

.homepage_section4 .step .img_frame {
  margin: 16px 0px 0px;
}

/* =========== section4 =============== */
/* =========== animation =============== */

.homepage_section4_yellow1 {
  animation: move1 6s ease-out infinite;
}

@keyframes move1 {

  0%,
  100% {
    transform: translateX(-10px)
  }

  50% {
    transform: translateX(0px)
  }
}

.homepage_section4_yellow2 {
  animation: move2 6s ease-in infinite;
}

@keyframes move2 {

  0%,
  100% {
    transform: translateX(10px)
  }

  50% {
    transform: translateX(0px)
  }
}

/* ========== S1 RWD ========== */
@media screen and (min-width: 1441px) {

  .homepage_section1 {
    min-height: max-content;
  }

}

@media screen and (max-width: 1400px) {

  .homepage_section1_outline {
    min-width: 100%;
  }

  .homepage_section1 {
    width: 1080px;
    padding: 100px 0px 100px;
  }

  .homepage_section1 .banner object {
    width: 840px;
  }

  .homepage_section1 .slogan_frame {
    font-size: 120px;
    top: -70px;
  }

  .homepage_section1_nav {
    margin: 18px 0px;
  }

}

@media screen and (max-width: 1200px) {

  .homepage_section1 {
    width: 892.8px;
    min-height: max-content;
  }

  .homepage_section1 .banner object {
    width: 694.4px;
  }

  .homepage_section1 .slogan_frame {
    font-size: 96px;
    top: -62px;
  }

  .homepage_section1_nav {
    margin: 1.5em 0px;
  }

  .homepage_section1 .logo img {
    height: 158px;
    width: 146px;
  }

  .homepage_section1_nav a {
    font-size: 16px;
    line-height: 2em;
  }

  .homepage_section1_nav a span {
    font-size: 16px;
  }

}

@media screen and (max-width: 992px) {

  .homepage_section1 {
    width: 691.2px;
  }

  .homepage_section1 .banner object {
    width: 537.6px;
  }

  .homepage_section1 .slogan_frame {
    font-size: 70px;
    top: -46px;
  }

  .homepage_section1_nav {
    margin: 0.8em 0px;
    padding: 0px;
  }

  .homepage_section1 .logo img {
    height: 118.5px;
    width: 109.5px;
  }

  .homepage_section1 .slogan_frame img {
    height: 54px;
    width: 56px;
  }


}

@media screen and (max-width: 768px) {

  .homepage_section1 {
    width: 518.4px;
    padding: 80px 0px 80px;
  }

  .homepage_section1 .banner object {
    width: 403.2px;
  }

  .homepage_section1 .slogan_frame {
    font-size: 54px;
    top: -40px;
  }

  .homepage_section1_nav {
    margin: 0.5em 0px;
  }

  .homepage_section1 .logo img {
    height: 96px;
    width: 91.25px;
  }

  .homepage_section1_nav a {
    font-size: 14px;
    line-height: 1.5em;
  }

  .homepage_section1 .slogan_frame img {
    height: 54px;
    width: 50px;
  }

  .homepage_section1_nav a span {
    font-size: 14px;
  }

  .homepage_section1_nav a span::before {
    padding: 2px 0px 0px;
    text-decoration: underline 2px #464646;
  }

}

@media screen and (max-width: 576px) {

  .homepage_section1 {
    width: 412px;
    padding: 80px 0px 180px;
    overflow: hidden;
  }

  .homepage_section1 .banner object {
    width: 500px;
    position: relative;
    top: 120px;
    left: -80px;
    transform: rotate(90deg);
  }

  .homepage_section1 .slogan_frame {
    font-size: 90px;
    top: 50px;
    word-wrap: break-all;
    width: 414px;
  }

  .homepage_section1 .logo img {
    height: 118.5px;
    width: 109.5px;
  }

  .homepage_section1_nav {
    width: 110px;
    margin: 2em 0px;
  }

  .homepage_section1_nav a {
    font-size: 18px;
    line-height: 2em;
  }

  .homepage_section1_nav a span {
    font-size: 18px;
  }

  .homepage_section1_nav a span::before {
    padding: 5px 0px 0px;
    text-decoration: underline 3px #464646;
  }

  .homepage_section1 .slogan_frame img {
    height: 54px;
    width: 50px;
  }

  @keyframes moveUpDown {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-40px);
    }

  }

}

@media screen and (max-width: 414px) {

  .homepage_section1_outline {
    min-width: 320px;
  }

  .homepage_section1 {
    width: 280px;
    padding: 75px 0px 100px;
  }

  .homepage_section1 .banner object {
    width: 330px;
    top: 80px;
    left: -70px;
  }

  .homepage_section1 .slogan_frame {
    font-size: 62px;
    top: 0px;
    width: 280px;
  }

  .homepage_section1 .logo img {
    height: 96px;
    width: 91.25px;
  }

  .homepage_section1_nav {
    width: 100px;
    margin: 2em 0px;
  }

  .homepage_section1_nav a {
    font-size: 16px;
    line-height: 2em;
  }

  .homepage_section1_nav a span {
    font-size: 16px;
  }

  .homepage_section1_nav a span::before {
    padding: 4px 0px 0px;
    text-decoration: underline 2px #464646;
  }

  @keyframes moveUpDown {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-12px);
    }

  }

}

/* ========== S2 RWD ========== */
@media screen and (max-width: 1200px) {

  .homepage_section2_outline {
    min-width: 100%;
  }

  .homepage_section2_frame {
    min-width: 100%;
  }

  .homepage_section2 {
    width: 950px;
  }

  .homepage_section2 .cards_item {
    width: 42vw;
    height: 28vw;
    padding: 10px;
  }

}

@media screen and (max-width: 992px) {

  .homepage_section2 {
    width: 750px;
    flex-direction: column;
  }

  .homepage_section2 .cards {
    margin: 80px 0px 0px 10px;
  }

  .homepage_section2 .cards_item {
    width: 60vw;
    height: 40vw;
    padding: 20px;
  }

  .homepage_section2_left .text br {
    display: none
  }

  .cards_item_right .cards_detail br {
    display: none
  }

}

@media screen and (max-width: 768px) {

  .homepage_section2 {
    width: 512px;
  }

  .homepage_section2 object {
    height: 100%;
  }

  .homepage_section2 .cards_item .cards_item_left {
    padding: 5% 0px 0px 0px;
  }

  .homepage_section2 .cards_item .cards_item_right {
    padding: 5% 0px 0px 10%;
  }

}

@media screen and (max-width: 576px) {

  .homepage_section2 {
    width: 412px;
    padding: 100px 0px 350px;
  }

  .homepage_section2 .cards_item {
    padding: 20px;
    min-width: 200px;
    min-height: 380px;
    flex-direction: column;
  }

  .homepage_section2 .cards_item .cards_item_left {
    padding: 0px 0px 0px 0px;
    text-align: center;
  }

  .homepage_section2 .cards_item .cards_item_right {
    padding: 0px 0px 0px 0px;
    text-align: center;
  }

}

@media screen and (max-width: 414px) {
  .homepage_section2_outline {
    min-width: 320px;
  }

  .homepage_section2 {
    width: 280px;
  }

  .homepage_section2 .cards_item {
    min-height: 400px;
  }

  .homepage_section2 .cards h3 {
    font-size: 16px;
  }

  .homepage_section2 .cards .cards_detail {
    font-size: 12px;
  }

}

/* ========== S3 RWD ========== */
@media screen and (max-width: 1200px) {

  .homepage_section3_outline {
    min-width: 100%;
  }

  .homepage_section3 {
    width: 950px;
    padding: 100px 0px 100px;
  }

}

@media screen and (max-width: 992px) {

  .homepage_section3_outline {
    min-width: 100%;
  }

  .homepage_section3 {
    width: 750px;
    flex-direction: column;
  }

  @keyframes roll1 {

    0%,
    100% {
      transform: translateX(-180px) rotate(0deg);
    }

    50% {
      transform: translateX(-55px) rotate(360deg);
    }
  }

  @keyframes roll2 {

    0%,
    100% {
      transform: translateX(40px) rotate(360deg);
    }

    50% {
      transform: translateX(-60px) rotate(0deg);
    }
  }

}

@media screen and (max-width: 576px) {

  .homepage_section3_outline {
    min-width: 320px;
  }

  .homepage_section3 {
    width: 412px;
  }

  .homepage_section3_left {
    flex-direction: column;
  }

  .homepage_section3 object {
    width: 80vw;
    min-width: 256px;
  }

  .homepage_section3 img {
    width: 48%;
  }

  @keyframes roll1 {

    0%,
    100% {
      transform: translateX(-100px) rotate(0deg);
    }

    50% {
      transform: translateX(-10px) rotate(360deg);
    }
  }

  @keyframes roll2 {

    0%,
    100% {
      transform: translateX(20px) rotate(360deg);
    }

    50% {
      transform: translateX(-20px) rotate(0deg);
    }
  }
}

/* ========== S4 RWD ========== */
@media screen and (max-width: 1439px) {
  .homepage_section4_outline {
    min-width: 100%;
  }

  .homepage_section4_frame {
    min-width: 100%;
  }

  .homepage_section4 {
    width: 95vw;
    padding: 100px 0px;
  }

  .homepage_section4 .num_frame {
    width: 95vw;
  }

  .homepage_section4 .step .list {
    padding: 20px 5vw;
  }
}


@media screen and (max-width: 1200px) {

  .homepage_section4 .step .list {
    padding: 20px 3vw;
  }

}

@media screen and (max-width: 992px) {
  .homepage_section4 .container {
    display: flex;
    justify-content: center;
  }

  .homepage_section4 .num_frame {
    flex-direction: column;
    justify-content: start;
    width: max-content;
    left: 70px;
    top: -10px;
  }

  .homepage_section4 .step {
    flex-direction: column;
    margin-right: 50px;
  }

  .homepage_section4 .step .list {
    border-radius: 180px 20px 20px 180px;
    display: flex;
    padding: 0px 3vw;
  }

  .homepage_section4 .list2 {
    margin: 20px 0px;
  }

  .homepage_section4 .num2 {
    margin: 210px 0px;
  }

  .homepage_section4 .step .service_name {
    margin: 0px 50px 0px;
  }

  .homepage_section4 .num_block {
    width: max-content;
  }
}

@media screen and (max-width: 768px) {

  .homepage_section4 .num_frame {
    left: 20px;
    top: 160px;
  }

  .homepage_section4 .step .list {
    flex-direction: column;
    padding: 0px 3vw 0px 24vw;
  }

  .homepage_section4 .step {
    margin-right: 4vw;
  }

  .homepage_section4 .num2 {
    margin: 380px 0px;
  }

  .homepage_section4 .step .service_name {
    margin: 0px 0px 0px;
  }
}

@media screen and (max-width: 414px) {
  .homepage_section4_outline {
    min-width: 320px;
  }

  .homepage_section4 {
    width: 280px;
  }

  .homepage_section4 .step .list {
    flex-direction: column;
    padding: 0px 20px;
    border-radius: 32px;
  }

  .homepage_section4 .step {
    margin-right: 50px;
    min-width: 280px;
  }

  .homepage_section4 .num_frame {
    left: 160px;
    top: -28px;
  }

  .homepage_section4 .list2 {
    margin: 50px 0px;
  }

  .homepage_section4 .num2 {
    margin: 408px 0px;
  }

}

/* ========== 調整手機邊界圓角 ========== */
@media screen and (max-width: 425px) {

  .homepage_section2_frame {
    border-radius: 32px 32px 0px 0px;
  }

  .homepage_section4_frame {
    border-radius: 32px 32px 0px 0px;
  }
}