.homepage_section1 {
  padding: 100px 120px 0px;
  min-height: 800px;
  background-color: #fffefc;
}

.homepage_section2_outline {
  width: 100%;
  background-color: #fffefc
}

.homepage_section2 {
  padding: 100px 160px 150px;
  background-color: #FBFBF6;
  border-radius: 80px 80px 0px 0px;
  border-top: 1px solid #DEDCBF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DEDCBF;
}

.homepage_section3 {
  padding: 100px 160px 100px;
  background-color: #FBFBF6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homepage_section4_outline {
  background-color: #FBFBF6;
  width: 100%;
}

.homepage_section4 {
  padding: 100px 120px;
  background-color: #F5F4E9;
  border-radius: 80px 80px 0px 0px;
  border-top: 1px solid #DEDCBF;
}

/* ==================== section1 ===================== */
/* ========== logo,nav,banner position area ========== */

.homepage_section1_frame {
  display: flex;
  justify-content: space-between;
}

.homepage_section1_frame_left {
  display: block;
}

.homepage_section1 .logo img {
  height: 197.5px;
  width: 182.91px;
}

.homepage_section1_nav {
  padding: 0px 0px 0px 12px;
  margin: 45px 0px;
}

.homepage_section1_nav li {
  list-style: none;
}

.homepage_section1_nav a {
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  line-height: 50px;
  color: #464646;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-weight: bold;
}

/* =========== section1 =============== */
/* ========== nav hover area ========== */

.homepage_section1_nav a span {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 300ms ease;
  font-size: 20px;
  /* border: 1px solid black; */
}

.homepage_section1_nav a span::before {
  display: inline-block;
  content: attr(data-content);
  transform: translateX(100%);
  transition: transform 300ms ease;
  text-decoration: underline 3px #464646;
  color: #46464600;
  font-weight: bold;
  /* border: 1px solid black; */
  padding: 5px 0px 0px;
  min-width: max-content;
}

.homepage_section1_nav a:hover span {
  transform: translateX(0);
}

.homepage_section1_nav a:hover span::before {
  transform: translateX(0);
}

/* =========== section1 =============== */
/* ========== slogan area ========== */

.homepage_section1 .slogan_frame {
  /* border: 1px solid black; */
  font-size: 132px;
  font-weight: bolder;
  position: relative;
  top: -84px;
  color: #464646;
}

.homepage_section1_orange {
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-70px);
  }
}


/* =========== section2 =============== */
/* ========== title,button area ========== */

.homepage_section2 h1 {
  text-align: left;
  color: #464646;
  margin: 0px 0px 40px;
}

.homepage_section2 .text {
  text-align: left;
  color: #464646;
  line-height: 24px;
}

.homepage_section2 .btn {
  display: flex;
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  padding: 12px 12px;
  cursor: pointer;
  margin: 40px 0px 0px;
  position: relative;
  left: -12px;
}

.homepage_section2 .btn span {
  color: white;
  font-size: 14px;
}

.homepage_section2 a {
  text-decoration: none;
}

.homepage_section2 .btn:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

.homepage_section2 .btn img {
  vertical-align: text-bottom;
  height: 16px;
  width: 16px;
  margin: 0px 4px;
}

/* =========== section2 =============== */
/* ========== cards position area ========== */

.homepage_section2 .cards {
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0px 160px 0px 0px;
  color: white;
  perspective: 1000px;
  transform-origin: center;
}

.homepage_section2 .cards_showing {
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.homepage_section2 .cards_showing.step-animation {
  animation: carousel 8s infinite steps(1) forwards;
}

/* =========== section2 =============== */
/* ========== individual cards area ========== */

.homepage_section2 .cards_item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  height: 40vw;
  max-width: 456px;
  max-height: 300px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  transform-origin: center;
  background-color: white;
  display: flex;
  padding: 20px;
}

.homepage_section2 .cards_item .cards_item_left {
  padding: 20px 0px 0px 30px;
}

.homepage_section2 .cards_item .cards_item_right {
  padding: 60px 0px 0px 36px;
}

.homepage_section2 .cards h3 {
  color: #464646;
}

.homepage_section2 .cards .cards_detail {
  color: #464646;
  font-size: 14px;
}

.homepage_section2 .cards_item:nth-child(1) {
  outline: 10px solid #B9D27E;
  outline-offset: -1px;
  transform: rotateY(0) translateZ(35vw);
}

.homepage_section2 .cards_item:nth-child(2) {
  outline: 10px solid #C7C4DC;
  outline-offset: -1px;
  transform: rotateY(120deg) translateZ(35vw);
}

.homepage_section2 .cards_item:nth-child(3) {
  outline: 10px solid #F6DD6F;
  outline-offset: -1px;
  transform: rotateY(240deg) translateZ(35vw);
}

@keyframes carousel {

  0%,
  17.5% {
    transform: translateZ(-35vw) rotateY(0);
  }

  27.5%,
  45% {
    transform: translateZ(-35vw) rotateY(-120deg);
    ;
  }

  55%,
  72.5% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }

  82.5%,
  100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}

/* =========== section3 =============== */
/* =========== position =============== */

.homepage_section3_left {
  display: flex;
  align-items: end;
}

.homepage_section3 h1 {
  text-align: left;
  color: #464646;
  margin: 0px 0px 40px;
}

.homepage_section3 .text {
  text-align: left;
  color: #464646;
}

/* =========== section3 =============== */
/* =========== button =============== */

.homepage_section3 .btn {
  display: flex;
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  padding: 12px 12px;
  cursor: pointer;
  margin: 40px 0px 74px;
  position: relative;
  left: -12px;
}

.homepage_section3 .btn span {
  color: white;
  font-size: 14px;
}

.homepage_section3 a {
  text-decoration: none;
}

.homepage_section3 .btn:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

/* =========== section3 =============== */
/* =========== animation =============== */

.homepage_section3_red1 {
  animation: roll1 6s ease-out infinite;
  transform-origin: center center;
  margin-left: 0;
}

@keyframes roll1 {

  0%,
  100% {
    transform: translateX(-25px) rotate(0deg);
  }

  50% {
    transform: translateX(105px) rotate(360deg);
  }
}

.homepage_section3_red2 {
  animation: roll2 6s ease-in infinite;
  transform-origin: center center;
  margin-left: 0;
}

@keyframes roll2 {

  0%,
  100% {
    transform: translateX(170px) rotate(360deg);
  }

  50% {
    transform: translateX(95px) rotate(0deg);
  }
}

/* =========== section4 =============== */
/* =========== title=============== */

.homepage_section4 .title_area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.homepage_section4 .title_area h1 {
  color: #464646;
  font-size: 32px;
  margin: 0px 24px;
}

/* =========== section4 =============== */
/* =========== step =============== */

.homepage_section4 .num_frame {
  font-size: 44px;
  font-weight: bolder;
  color: #464646;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 24px;
  font-style: italic;
}

.homepage_section4 .num_block {
  width: 360px;
  text-align: center;
}


.homepage_section4 .step {
  display: flex;
  justify-content: space-between;
}

.homepage_section4 .step .list {
  background-color: #fffefc;
  border-radius: 180px 180px 8px 8px;
  padding: 20px 60px;
  text-align: center;
  color: #464646;
}

.homepage_section4 .step .service_name h1 {
  margin: 50px 0px 16px;
}

.homepage_section4 .step .service_name span {
  line-height: 32px;
  font-size: 16px;
}

.homepage_section4 .step .img_frame {
  margin: 16px 0px 0px;
}

/* =========== section4 =============== */
/* =========== animation =============== */

.homepage_section4_yellow1 {
  animation: move1 6s ease-out infinite;
}

@keyframes move1 {

  0%,
  100% {
    transform: translateX(-10px)
  }

  50% {
    transform: translateX(0px)
  }
}

.homepage_section4_yellow2 {
  animation: move2 6s ease-in infinite;
}

@keyframes move2 {

  0%,
  100% {
    transform: translateX(10px)
  }

  50% {
    transform: translateX(0px)
  }
}