.product_section1_outline {
  width: 100%;
  min-width: 1400px;
  background-color: #fffefc;
  display: flex;
  justify-content: right;
}

.product_section1 {
  min-height: 800px;
  width: 1440px;
  background-color: #F5FFDE;
  display: flex;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
}


.product_section2_outline {
  width: 100%;
  min-width: 1200px;
  background-color: #fffefc;
}

.product_section2_frame {
  width: 100%;
  min-width: 1200px;
  border-top: 1px solid #DEDCBF;
  background-color: #FBFBF6;
  border-radius: 80px 80px 0px 0px;
  display: flex;
  justify-content: center;
}

.product_section2 {
  width: 1200px;
  padding: 100px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_section3_outline {
  background-color: #FBFBF6;
  width: 100%;
  min-width: 1200px;
}

.product_section3_frame {
  width: 100%;
  min-width: 1200px;
  border-top: 1px solid #DEDCBF;
  background-color: #F5F4E9;
  border-radius: 80px 80px 0px 0px;
  display: flex;
  justify-content: center;
}

.product_section3 {
  width: 1200px;
  padding: 100px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =========== section1 =============== */
/* ========== section1 left area ========== */

.product_section1_left {
  width: 560px;
  background-color: #fffefc;
  padding: 120px 0px 0px 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.product_section1_left .product_section1_title {
  font-size: 16px;
  color: white;
  background-color: #464646;
  border-radius: 32px;
  padding: 4px 12px;
  width: max-content;
}

.product_section1 .product_section1_left .content_container {
  width: 400px;
  height: 300px;
}

.product_section1_left .content_container h1 {
  color: #0C794D;
  margin: 20px 0px;
  font-weight: bold;
}

.product_section1_left .content_container span {
  color: #464646;
  font-size: 16px;
}

.product_section1_left .content_container h4 {
  color: #464646;
  margin-top: 70px;
}

.product_section1 .product_section1_left .content {
  /* z-index: 0; */
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: #fffefc;
  padding-left: 12px;
}

/* =========== section1 =============== */
/* ========== section1 left area : count ========== */

.product_section1 .product_section1_left .count {
  display: flex;
  align-items: end;
  margin-top: 40px;
}

.product_section1_left .quantity {
  margin-right: 40px;
  width: 35%;
  align-items: end;
}

.product_section1_left .price {
  width: 25%;
}

.quantity_button_frame {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product_section1_left .fa {
  cursor: pointer;
  background-color: #464646;
  border-radius: 50%;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.product_section1_left .quantity .number {
  padding: 0px 5px;
  margin: 0px 5px;
  font-size: 22px;
}

.product_section1_left .price .amount {
  margin: 0px 5px 0px 0px;
  font-size: 22px;
}

.product_section1_left .fa-clear {
  margin: 0px 10px 0px 0px;
  position: absolute;
  z-index: -1;
}

/* =========== section1 =============== */
/* ========== section1 left area : button ========== */

.product_section1 .btn {
  display: flex;
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  padding: 12px 12px;
  cursor: pointer;
  margin: 24px 0px 0px;
  width: max-content;
}

.product_section1 .btn span {
  color: white;
  font-size: 14px;
}

.product_section1 .btn:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

.product_section1 .btn img {
  vertical-align: text-bottom;
  height: 16px;
  width: 16px;
  margin: 0px 4px;
}


/* =========== section1 =============== */
/* ========== right backgound position area ========== */

.product_section1_right {
  width: 880px;
  height: 800px;
  padding: 137px 0px 0px;
  text-align: center;
}

.product_section1 .background {
  display: block;
  position: absolute;
  width: 880px;
  height: 800px;
  top: 0;
  right: 0;
}

.product_section1 .right_up {
  height: 440px;
}

.product_section1 .right_down {
  height: 360px;
  width: 880px;
  background-color: #fffefc;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 170px 136px;
}

.product_section1 .curved-corner-bottomleft,
.product_section1 .curved-corner-bottomright {
  width: 440px;
  max-width: 440px;
  min-width: 440px;
  height: 440px;
  max-height: 440px;
  min-height: 440px;
  overflow: hidden;
  position: absolute;
}

.product_section1 .curved-corner-bottomright {
  right: 0;
}

.product_section1 .curved-corner-bottomleft {
  right: 440px;
}

.product_section1 .curved-corner-bottomleft:before,
.product_section1 .curved-corner-bottomright:before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
}

.product_section1 .curved-corner-bottomleft:before {
  bottom: 0;
  left: 0;
  box-shadow: -200px 200px 0 0 #fffefc;
}

.product_section1 .curved-corner-bottomright:before {
  bottom: 0;
  right: 0;
  box-shadow: 200px 200px 0 0 #fffefc;
}

/* =========== section1 =============== */
/* ========== right item area ========== */

.product_section1 .go_left,
.product_section1 .go_right {
  cursor: pointer;
  background-color: #464646;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  align-items: center;
}

.product_section1 .go_left:hover,
.product_section1 .go_right:hover {
  border: 1px solid black;
  background-color: black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

.product_section1 #turntable {
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.product_section1 .right_down .pack_container {
  width: 217px;
  height: 317px;
}

.product_section1 .right_down .pack {
  /* z-index: 0; */
  position: absolute;
}

/* =========== section2 =============== */

.product_section2 h1 {
  text-align: left;
  color: #464646;
  margin: 0px 0px 40px;
}

.product_section2 .text {
  text-align: left;
  color: #464646;
}

#video {
  border-radius: 32px;
}


/* =========== section2 =============== */
/* =========== button =============== */

.product_section2 .btn {
  display: flex;
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  padding: 12px 12px;
  cursor: pointer;
  margin: 40px 0px 0px;
  position: relative;
  left: -12px;
}

.product_section2 .btn span {
  color: white;
  font-size: 14px;
}

.product_section2 a {
  text-decoration: none;
}

.product_section2 .btn:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

/* =========== section3 =============== */

.product_section3_middle {
  color: #464646;
  text-align: left;
}

.product_section3_middle h1 {
  margin: 0px 0px 40px;
}

.product_section3_middle .text {
  font-size: 16px;
  line-height: 24px;
}

/* =========== section3 =============== */
/* =========== button =============== */

.product_section3 .btn {
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  padding: 12px 12px;
  cursor: pointer;
  margin: 40px 0px 0px;
  position: relative;
  left: -12px;
}

.product_section3 .btn span {
  color: white;
  font-size: 14px;
}

.product_section3 a {
  text-decoration: none;
}

.product_section3 .btn:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

/* ========== S1 RWD ========== */
@media screen and (max-width: 1439px) {

  .product_section1_outline {
    min-width: 100%;
  }

  .product_section1 {
    min-height: 800px;
    width: 1200px;
  }

  .product_section1_left {
    width: 350px;
    padding: 120px 0px 0px 100px;
    /* z-index: 900px; */
  }

  .product_section1 .product_section1_left .content {
    width: 320px;
  }

  .product_section1_left .content_container span {
    white-space: nowrap;
  }

}

@media screen and (max-width: 1199px) {

  .product_section1 {
    width: 880px;
    flex-direction: column-reverse;
  }

  .product_section1_left {
    width: 880px;
    padding: 0px 0px 0px 100px;
    position: relative;
    top: -100px;
    z-index: 10;
  }

  .product_section1 .right_down {
    height: 625px;
    padding: 0px 170px 420px;
  }

  .product_section1 .product_section1_left .content_container {
    height: 150px;
  }

  .product_section1 .product_section1_left .content {
    width: 700px;
    display: flex;
    height: max-content;
  }

  .product_section1 .product_section1_left .count {
    align-items: start;
    margin-top: 20px;
    margin-left: 40px;
  }

  .product_section1 .product_section1_left .text {
    width: 400px;
  }

  .product_section1 .product_section1_left .count h4 {
    margin-top: 0px;
  }

  .product_section1_left .quantity,
  .product_section1_left .price {
    width: max-content;
  }

  .product_section1 .btn {
    margin: 0px 0px 40px 510px;
  }

  .product_section1_left .content_container span {
    white-space: unset;
  }
}

@media screen and (max-width: 880px) {

  .product_section1 {
    width: 576px;
  }

  .product_section1_right {
    width: 576px;
    height: 430px;
    padding: 10px 0px 0px 0px;
  }

  .product_section1 .background {
    width: 576px;
  }

  #turntable {
    width: 400px;
  }

  .pack_container object {
    width: 50%;
  }

  .product_section1 .right_down .pack_container {
    width: 109px;
    height: 158px;
  }

  .product_section1 .right_up {
    height: 288px;
  }

  .product_section1 .curved-corner-bottomleft,
  .product_section1 .curved-corner-bottomright {
    width: 288px;
    max-width: 288px;
    min-width: 288px;
    height: 288px;
    max-height: 288px;
    min-height: 288px;
  }

  .product_section1 .curved-corner-bottomleft {
    right: 288px;
  }

  .product_section1_left {
    width: 576px;
    padding: 0px 0px 0px 50px;
    top: -100px;
  }

  .product_section1 .right_down {
    height: 512px;
    width: 576px;
    padding: 0px 100px 400px;
  }

  .product_section1 .product_section1_left .content {
    width: 476px;
  }

  .product_section1 .product_section1_left .count {
    align-items: start;
    margin-top: 20px;
    margin-left: 40px;
  }

  .product_section1 .product_section1_left .text {
    width: 200px;
  }

  .product_section1 .product_section1_left .quantity {
    width: 100px;
  }

  .product_section1 .product_section1_left br {
    display: none
  }

  .product_section1 .btn {
    margin: 20px 0px 0px 340px;
  }
}

@media screen and (max-width: 575px) {

  .product_section1 {
    width: 575px;
    height: 950px
  }

  .product_section1_frame {
    width: 575px;
  }


  .product_section1 .curved-corner-bottomleft {
    left: 0px;
  }

  .product_section1 .curved-corner-bottomright {
    right: 0px;
  }

  #rotateLeft,
  #turntable {
    visibility: hidden;
  }

  .pack_container object {
    width: 80%;
  }

  .product_section1 .right_down .pack_container {
    width: 138.88px;
    height: 202.88px;
  }

  .product_section1 .right_down {
    width: 576px;
    height: 662px;
    padding: 0px 100px 530px;

  }

  .product_section1 .product_section1_left {
    padding: 0px 0px 0px 0px;
    width: 400px;
    top: -50px;
    left: 10vw;
  }

  .product_section1_left .content_container h4 {
    margin-top: 70px;
  }

  .product_section1 .product_section1_left .content {
    width: 280px;
    height: 300px;
    display: block;
  }

  .product_section1 .product_section1_left .count {
    display: flex;
    align-items: end;
    margin-top: 40px;
    margin-left: 0px;
  }

  .product_section1 .product_section1_left .text {
    width: 250px;
  }

  .product_section1_left .quantity {
    margin-right: 40px;
    width: 35%;
    align-items: end;
  }

  .product_section1_left .price {
    width: 25%;
  }

  .product_section1 .btn {
    margin: 155px 0px 0px 0px;
  }

}

@media screen and (max-width: 414px) {
  .product_section1_outline {
    min-width: 320px;
  }

  .product_section1 {
    width: 320 px;
    min-width: 320px;
  }

  .product_section1 .product_section1_left {
    top: -50px;
    left: 10vw;
  }

  .product_section1 .right_down .pack_container {
    width: 138.88px;
    height: 202.88px;
    margin-right: 25vw;
  }

  .pack_container object {
    width: 80%;
  }

  .product_section1 .right_down {
    padding: 0px 10vw 530px 0vw;
    justify-content: right;
  }

}

/* ========== S2 RWD ========== */

@media screen and (max-width: 1200px) {

  .product_section2_outline {
    min-width: 100%;
  }

  .product_section2_frame {
    min-width: 100%;
  }

  .product_section2 {
    width: 950px;
    padding: 100px 0px;
  }

  #video {
    width: 600px;
  }

}

@media screen and (max-width: 992px) {

  .product_section2 {
    width: 750px;
    flex-direction: column;
  }

  .product_section2 .brhide {
    display: none;
  }

  .product_section2 .btn {
    margin: 40px 0px;
  }

  #video {
    width: 500px;
  }

}

@media screen and (max-width: 575px) {

  .product_section2_outline {
    min-width: 320px;
  }

  .product_section2 {
    width: 412px;
    min-width: 320px;
  }

  .product_section2 .brhide {
    display: unset;
  }

  #video {
    width: 80%;
  }
}

/* ========== S3 RWD ========== */

@media screen and (max-width: 1200px) {

  .product_section3_outline {
    min-width: 100%;
  }

  .product_section3_frame {
    min-width: 100%;
  }

  .product_section3 {
    width: 950px;
    padding: 100px 20px;
  }

}

@media screen and (max-width: 992px) {

  .product_section3 {
    width: 750px;
    padding: 100px 50px;
  }

  .product_section3 .home {
    display: none;
  }

}

@media screen and (max-width: 767px) {

  .product_section3 {
    width: 400px;
    padding: 100px 0px;
    flex-direction: column;
  }

}

@media screen and (max-width: 413px) {

  .product_section3_outline {
    min-width: 320px;
  }

  .product_section3 {
    width: 412px;
    min-width: 280px;
    padding: 100px 6vw;
  }

  .product_section3 h1 {
    font-size: 20px;
  }

  .product_section3 .text {
    font-size: 14px;
  }
}

/* ========== 調整手機邊界圓角 ========== */
@media screen and (max-width: 425px) {

  .product_section2_frame {
    border-radius: 32px 32px 0px 0px;
  }

  .product_section3_frame {
    border-radius: 32px 32px 0px 0px;
  }
}