section {
  background-color: #F5F4E9;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.shoplist_section {
  padding: 50px 120px;
  display: flex;
  width: 1440px;
}

.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.cart {
  border-radius: 32px;
  border: 2px solid #464646;
  width: 300px;
  height: 644px;
  background-color: #FBFBF6;
}

/* =========== button =============== */

.container .btn {
  display: flex;
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  padding: 20px 12px;
  cursor: pointer;
  margin: 0px 42px 0px;
  width: 350px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container .btn span {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.container a {
  text-decoration: none;
}

.container .btn:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

.container .btn img {
  height: 20px;
  width: 20px;
  margin: 0px 10px;
}

/* ========== card ========== */
.container .card {
  background-color: #FBFBF6;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 32px;
  position: relative;
  margin: 30px 30px 0px;
  width: calc((100% - 150px) / 2);
  border: 2px solid #464646;
  padding: 15px;
}

.container .card_frame {
  display: flex;
  text-align: left;
}

.container .card .card_left {
  padding: 25px 0px 0px 22px;
}

.container .card .card_right {
  padding: 25px 22px 0px 24px;
  color: #464646;
}

.container .card .product_detail {
  font-size: 12px;
}

.container .card_count {
  display: flex;
  justify-content: right;
  align-items: end;
  padding-right: 22px;
}

.container .card_count .fa {
  cursor: pointer;
  background-color: #FBFBF6;
  border: none;
  height: 20px;
  width: 20px;
}

.container .card_count .quantity {
  margin: 0px 5px 0px 11px;
  font-size: 20px;
  color: #464646;
}

.container .card_count .minus2_frame {
  height: 20px;
  width: 20px;
}

.container .card_count .fa-light_minus {
  background-color: #FBFBF6;
  border: none;
  height: 20px;
  width: 20px;
  position: absolute;
  /* z-index: -1; */
}

.container .card_count .m1 {
  z-index: -1;
}

/*  ========== Cart Header ==========*/
.cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #464646;
  padding: 20px 30px;
}

.cart_header .number {
  font-size: 28px;
}

.cart_header .text {
  font-size: 16px;
  margin-left: 8px;
}

.cart_header .pack {
  color: #464646;
}

.cart_header .amount {
  color: #DB5331;
}

/* ========== Cart list ========== */
.cart_list {
  height: 480px;
  padding: 8px 16px 0px 16px;
  overflow: auto;
}

.cart_list .list {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DEDCBF;
}

.cart_list .list_left {
  width: 55%;
  align-items: center;
}

.cart_list .list_left p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #464646;
}

.cart_list .list_left span {
  font-size: 12px;
  color: #464646;
}


/* Cart List Right */
.cart_list .list_right {
  text-align: right;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart_list .list_right .quantity_frame {
  display: flex;
  align-items: end;
  justify-content: right;
}


.cart_list .list_right .fa {
  cursor: pointer;
  background-color: #FBFBF6;
  border: none;
  height: 20px;
  width: 20px;
}

.cart_list .list_right .price {
  font-size: 20px;
  color: #464646;
}

.cart_list .list_right .price_text {
  font-size: 16px;
  color: #464646;
  margin-left: 5px;
}

.cart_list .list_right .quantity {
  margin: 0px 5px 0px 11px;
  font-size: 20px;
  color: #464646;
}


/* ========== Cart button ========== */

.cart_btn_frame {
  text-align: center;
  width: 100%;
  padding: 20px 0px;
  /* border: 1px solid#0C794D; */
}

.cart_btn_frame .btn {
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  padding: 12px 28px;
  cursor: pointer;
}

.cart_btn_frame .btn span {
  color: white;
  font-size: 14px;
}

.cart_btn_frame .btn:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

/* ========== hidecart ========== */

.hidecart .cartbtn {
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  cursor: pointer;
  padding: 20px 70px;
  margin: 20px 0px 20px 0px;
}

.hidecart .cartbtn span {
  color: white;
  font-size: 16px;
}

.hidecart .cartbtn img {
  vertical-align: text-bottom;
  height: 18px;
  width: 18px;
  margin: 0px 6px;
}

.hidecart .cartbtn:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

.hidecart {
  width: 100%;
  padding: 0px 20px 0px;
  position: fixed;
  text-align: center;
  bottom: 0px;
  left: 0;
  z-index: 30;
  background-color: unset;
  display: none;
  background-color: #F5F4E9;
  border-top: 1px solid #DEDCBF;
  border-radius: 32px 32px 0px 0px;
}

.blurcart {
  filter: blur(3px) grayscale(50%);
}

.opencart .cart_frame {
  transform: translateX(0);
}

.back_btn_frame {
  display: none;
}

.closecart {
  display: flex;
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  padding: 12px 24px 12px 22px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 22px 0px 0px 20px;
}

.closecart span {
  color: white;
  font-size: 14px;
}

.closecart:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

.closecart img {
  height: 16px;
  width: 16px;
  margin: 0px 4px;
}

/* ========== RWD ========== */

@media screen and (max-width: 1439px) {

  section {
    min-width: 100%;
  }

  .shoplist_section {
    width: 1200px;
    padding: 50px 30px 50px 0px;
  }

  .cart {
    width: 300px;
  }

  .container {
    width: 900px;

  }

  .container .btn {
    margin: 0px 20px 0px;
    width: 390px;
  }

  .container .card {
    margin: 30px 20px 0px;
    width: 390px;
  }
}

@media screen and (max-width: 1199px) {

  .shoplist_section {
    width: 768px;
    padding: 50px 30px 50px 0px;
  }

  .container {
    width: 400px;
    height: 644px;
    overflow: auto;
    border-radius: 60px;
  }

  .cart {
    margin-left: 20px;
  }

  .container .btn {
    margin: 0px 0px 0px 30px;
    width: 300px;
  }

  .container .draw {
    margin-top: 25px;
  }

  .container .card {
    margin: 30px 10px 0px 30px;
    width: 318px;
    padding: 5px 5px 15px;
  }

  .container .card .card_right {
    padding: 12px 22px 0px 24px;
    color: #464646;
  }

  .container .card .card_right h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {

  .shoplist_section {
    width: 576px;
    padding: 50px 0px 196px 0px;
  }

  .container {
    width: 576px;
    height: unset;
    overflow: unset;
    justify-content: center;
  }

  .cart {
    margin: 40px 20px 0px 20px
  }

  .cart_frame {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #F8F7EF;
    height: 100%;
    z-index: 1001;
    -webkit-transform: translateX(360px);
    transform: translateX(360px);
    transition: all 1s;
    overflow-y: auto;
  }

  .container .btn {
    margin-left: unset;
    width: 500px;
  }

  .container .card {
    margin: 30px 0px 0px 0px;
    width: 500px;
    padding: 30px;
  }

  .container .card .card_right h3 {
    font-size: 18px;
  }

  .container .card .product_detail {
    font-size: 14px;
  }

  .hidecart,
  .back_btn_frame {
    display: unset;
  }

  footer {
    display: none;
  }
}

@media screen and (max-width: 575px) {

  .shoplist_section {
    width: 414px;
  }

  .container {
    width: 414px;
  }

  .container .btn {
    width: 338px;
  }

  .container .card {
    width: 338px;
    padding: 10px 20px 25px;
  }

  .container .card object {
    width: 80px;
  }

  .container .card .card_right h3 {
    font-size: 16px;
  }

  .container .card .product_detail {
    font-size: 12px;
  }

  .cart {
    height: 540px;
    margin: 20px 20px 0px 20px
  }

  .cart_list {
    height: 376px;
  }
}

@media screen and (max-width: 413px) {

  .shoplist_section {
    min-width: 320px;
    width: 320px;
    padding: 50px 0px 150px 0px;
  }

  .container {
    width: 320px;
  }

  .cart {
    width: 264px;
  }

  .container .btn {
    width: 260px;
    padding: 10px 12px;
  }

  .container .card {
    margin: 30px 0px 0px 0px;
    width: 280px;
    padding: 10px 5px 25px;
  }

  .container .card object {
    width: 70px;
  }

  .container .card_frame {
    margin-bottom: 20px;
  }
}