section {
  width: 100%;
  background-color: #F5F4E9;
  display: flex;
  justify-content: center;
}

.tos {
  width: 1200px;
  padding: 50px 250px;
  color: #464646;
}

.tos h1 {
  text-align: center;
}

.tos h3 {
  margin: 60px 0px 24px 0px;
}

.tos .title_listnumber {
  font-style: italic;
  font-size: 24px;
}

.tos p {
  font-size: 14px;
  line-height: 25px;
  padding: 48px 0px;
  border-bottom: 1px solid #DEDCBF;
}

.tos ul li {
  /* border: 1px solid black; */
  font-size: 14px;
  line-height: 25px;
  list-style: none;
  list-style-position: inside;
}

.tos ol li {
  /* border: 1px solid black; */
  font-size: 14px;
  line-height: 25px;
  list-style: decimal;
}

/* ========== RWD ========== */

@media screen and (max-width: 1200px) {

  .tos {
    width: 80vw;
    padding: 50px 0px;
  }

}

@media screen and (max-width: 414px) {

  section {
    min-width: 320px;
  }

  .tos {
    width: 85vw;
    min-width: 280px;
    padding: 50px 0px;
  }

}