section {
  background-color: #F5F4E9;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.draw_section {
  padding: 50px 20px;
  width: 1200px;
}

/* ========== back_btn ========== */

.back_btn {
  display: flex;
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  padding: 12px 14px 12px 12px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.back_btn span {
  color: white;
  font-size: 14px;
}

.back_btn_frame a {
  text-decoration: none;
}

.back_btn:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

.back_btn img {
  height: 16px;
  width: 16px;
  margin: 0px 4px;
}

/* ========== title ========== */

.draw_title {
  color: #464646;
  text-align: center;
}

.draw_title span {
  font-size: 16px;
  line-height: 32px;
}

/* ========== container ========== */
.container {
  display: flex;
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: #FBFBF6;
  border-radius: 35px;
  margin-top: 40px;
  border: 2px solid #DEDCBF;
}

.contain {
  width: calc(100% / 6);
}

.contain p {
  font-size: 24px;
  font-weight: bold;
  color: #464646;
  margin-top: 40px;
}

/* ========== lock checkbox ========== */

label {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
  align-items: end;
}

input[type="checkbox"]+label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('data:image/svg+xml,<svg width="44" height="48" viewBox="0 0 44 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M21 0.666687C23.5457 0.666687 25.9397 1.34802 28 2.54269C28.2788 2.68856 28.5253 2.88932 28.7245 3.13291C28.9238 3.3765 29.0717 3.65787 29.1594 3.9601C29.2471 4.26233 29.2727 4.57918 29.2347 4.89158C29.1968 5.20397 29.0961 5.50547 28.9386 5.77792C28.7811 6.05037 28.5701 6.28815 28.3183 6.47696C28.0666 6.66576 27.7792 6.80168 27.4736 6.87655C27.1679 6.95142 26.8503 6.96369 26.5397 6.91261C26.2292 6.86154 25.9322 6.74818 25.6667 6.57935C24.2475 5.75999 22.6376 5.32873 20.9989 5.32892C19.3602 5.32912 17.7504 5.76076 16.3314 6.58046C14.9124 7.40016 13.7343 8.57901 12.9154 9.99847C12.0966 11.4179 11.6659 13.028 11.6667 14.6667L37.3333 14.669C38.571 14.669 39.758 15.1607 40.6332 16.0359C41.5083 16.911 42 18.098 42 19.3357V42.669C42 43.9067 41.5083 45.0937 40.6332 45.9688C39.758 46.844 38.571 47.3357 37.3333 47.3357H4.66667C3.42899 47.3357 2.242 46.844 1.36683 45.9688C0.491665 45.0937 0 43.9067 0 42.669V19.3334C0 18.0957 0.491665 16.9087 1.36683 16.0335C2.242 15.1584 3.42899 14.6667 4.66667 14.6667H7C7 10.9537 8.475 7.3927 11.1005 4.76719C13.726 2.14168 17.287 0.666687 21 0.666687ZM21 24C19.9727 24.0001 18.9742 24.3391 18.1592 24.9644C17.3443 25.5898 16.7584 26.4666 16.4926 27.4588C16.2267 28.4511 16.2956 29.5034 16.6887 30.4524C17.0818 31.4015 17.7771 32.1943 18.6667 32.708V35.6667C18.6667 36.2855 18.9125 36.879 19.3501 37.3166C19.7877 37.7542 20.3812 38 21 38C21.6188 38 22.2123 37.7542 22.6499 37.3166C23.0875 36.879 23.3333 36.2855 23.3333 35.6667V32.708C24.2229 32.1943 24.9182 31.4015 25.3113 30.4524C25.7044 29.5034 25.7733 28.4511 25.5074 27.4588C25.2416 26.4666 24.6557 25.5898 23.8408 24.9644C23.0258 24.3391 22.0273 24.0001 21 24ZM39.4753 7.71569L41.7293 8.32235C42.304 8.50227 42.7869 8.89741 43.077 9.42515C43.3671 9.95289 43.4419 10.5723 43.2858 11.154C43.1297 11.7356 42.7548 12.2343 42.2394 12.5459C41.7241 12.8575 41.1082 12.9577 40.5207 12.8257L38.269 12.2237C37.6738 12.0614 37.167 11.67 36.8596 11.1351C36.5522 10.6002 36.4692 9.96531 36.6287 9.36933C36.7881 8.77334 37.1772 8.26478 37.7106 7.95488C38.2441 7.64499 38.8786 7.55898 39.4753 7.71569ZM36.477 0.876687C36.773 0.956017 37.0505 1.09288 37.2936 1.27947C37.5367 1.46606 37.7407 1.69871 37.8939 1.96414C38.0471 2.22957 38.1465 2.52258 38.1864 2.82643C38.2264 3.13028 38.2061 3.43902 38.1267 3.73502L37.8257 4.85969C37.7476 5.15694 37.6116 5.43585 37.4254 5.68038C37.2393 5.92492 37.0066 6.13027 36.7409 6.28465C36.4751 6.43902 36.1815 6.53938 35.8769 6.57995C35.5722 6.62052 35.2626 6.6005 34.9657 6.52106C34.6688 6.44161 34.3905 6.3043 34.1469 6.117C33.9032 5.9297 33.6989 5.69611 33.5458 5.42965C33.3927 5.16318 33.2937 4.86909 33.2545 4.56426C33.2154 4.25943 33.2368 3.94987 33.3177 3.65335L33.621 2.52635C33.7812 1.92903 34.1721 1.41976 34.7076 1.11044C35.2431 0.801111 35.8795 0.717036 36.477 0.876687Z" fill="%23464646"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
}

input[type="checkbox"]:checked+label::before {
  background-image: url('data:image/svg+xml,<svg width="44" height="47" viewBox="0 0 44 47" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.22833 14.001C7.22833 10.2877 8.75144 6.72649 11.4626 4.1008C14.1737 1.4751 17.8509 0 21.685 0C25.5191 0 29.1963 1.4751 31.9074 4.1008C34.6186 6.72649 36.1417 10.2877 36.1417 14.001H38.5511C39.8292 14.001 41.0549 14.4927 41.9586 15.3679C42.8623 16.2432 43.37 17.4302 43.37 18.668V42.003C43.37 43.2408 42.8623 44.4278 41.9586 45.3031C41.0549 46.1783 39.8292 46.67 38.5511 46.67H4.81889C3.54084 46.67 2.31514 46.1783 1.41142 45.3031C0.507703 44.4278 0 43.2408 0 42.003V18.668C0 17.4302 0.507703 16.2432 1.41142 15.3679C2.31514 14.4927 3.54084 14.001 4.81889 14.001H7.22833ZM21.685 4.667C24.2411 4.667 26.6925 5.6504 28.4999 7.40086C30.3074 9.15133 31.3228 11.5255 31.3228 14.001H12.0472C12.0472 11.5255 13.0626 9.15133 14.8701 7.40086C16.6775 5.6504 19.1289 4.667 21.685 4.667ZM26.5039 28.002C26.5039 28.8212 26.2812 29.626 25.8582 30.3354C25.4353 31.0449 24.827 31.634 24.0944 32.0436V35.0025C24.0944 35.6214 23.8406 36.2149 23.3887 36.6525C22.9369 37.0902 22.324 37.336 21.685 37.336C21.046 37.336 20.4331 37.0902 19.9813 36.6525C19.5294 36.2149 19.2756 35.6214 19.2756 35.0025V32.0436C18.3569 31.5299 17.639 30.737 17.2331 29.7879C16.8272 28.8387 16.756 27.7864 17.0305 26.7941C17.3051 25.8018 17.91 24.9249 18.7516 24.2995C19.5931 23.6741 20.6242 23.335 21.685 23.335C22.963 23.335 24.1888 23.8267 25.0925 24.7019C25.9962 25.5772 26.5039 26.7642 26.5039 28.002Z" fill="%23464646"/></svg>');
}

/* ========== Summit btn ========== */

.bottom_frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_frame {
  margin-left: 66px;
}

.summit_btn,
.go_btn {
  display: flex;
  background-color: #0C794D;
  border-radius: 32px;
  border: none;
  min-width: max-content;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 122px;
  padding: 12px;
}

.go_btn {
  margin-bottom: 40px;
  margin-top: 40px;
}

.summit_btn {
  margin-bottom: 100px;
}

.summit_btn span,
.go_btn span {
  color: white;
  font-size: 14px;
}

.btn_frame a {
  text-decoration: none;
}

.summit_btn:hover,
.go_btn:hover {
  background-color: #DB5331;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
}

.summit_btn img {
  vertical-align: text-bottom;
  height: 16px;
  width: 16px;
  margin: 0px 4px;
}

/* ========== RWD ========== */

@media screen and (max-width: 1200px) {

  section {
    min-width: 100%;
  }

  .draw_section {
    width: 80vw;
    padding: 50px 0px;
  }

}

@media screen and (max-width: 991px) {

  .draw_section {
    width: 95vw;
  }

}

@media screen and (max-width: 768px) {

  .draw_section {
    width: 95vw;
  }

  .contain p {
    font-size: 18px;
  }

  .container {
    height: 160px;
  }

  .bottom_frame .home {
    width: 20vw;
  }

  .btn_frame {
    margin-left: unset;
  }

  .bottom_frame {
    padding: 0px 5vw;
  }

}

@media screen and (max-width: 576px) {

  .container {
    height: 280px;
    flex-wrap: wrap;
  }

  .back_btn {
    margin-bottom: 40px;
  }

  .draw_title span {
    font-size: 14px;
  }

  .contain {
    width: calc(100% / 3);
  }

  .contain p {
    margin-top: 30px;
  }

  .summit_btn {
    margin-bottom: unset;
  }

  .hidespan {
    display: none;
  }

}

@media screen and (max-width: 414px) {

  section {
    min-width: 320px;
  }

  .draw_section {
    width: 95vw;
    min-width: 304px;
  }

  .container {
    height: 400px;
  }

  .contain {
    width: calc(100% / 2);
  }

  .draw_title span {
    font-size: 12px;
  }

}