.footer_outline {
  width: 100%;
  min-width: 1200px;
  background-color: #F5F4E9;
}

.footer_frame {
  width: 100%;
  min-width: 1200px;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  background-color: #FBFBF6;
  border-radius: 80px 80px 0px 0px;
  border-top: 1px solid #DEDCBF;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1200px;
}

.footer .footer_left {
  display: flex;
  align-items: center;
}

.footer .footer_left .footer_navlist {
  display: flex;
  align-items: start;
}

/* ========== Logo area ========== */

.footer_left .logo img {
  vertical-align: middle;
  height: 120px;
  width: 111px;
}

/* ========== nav area ========== */
.footer .footer_nav {
  /* border: 1px solid black; */
  list-style: none;
}

.footer .footer_nav a {
  /* border: 1px solid black; */
  display: block;
  text-decoration: none;
  margin: 0 20px;
  position: relative;
  padding: 0px;
  z-index: 0;
}

.footer .footer_nav .title a {
  font-size: 16px;
  color: #0C794D;
  border-bottom: 2px dotted #0C794D;
  font-weight: bold;
}

.footer .footer_nav .list a {
  font-size: 14px;
  color: #464646;
  overflow: hidden;
}

.footer .footer_nav li {
  /* border: 1px solid black; */
  margin-bottom: 14px;
}

/* ========== nav hover area ========== */
.footer .footer_nav .list a span {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 300ms ease;
}

.footer .footer_nav .list a span::before {
  display: inline-block;
  content: attr(data-content);
  transform: translateX(100%);
  transition: transform 300ms ease;
  font-weight: bold;
}

.footer .footer_left .list a span::before {
  color: #DB5331;
}

.footer .footer_right .list a span::before {
  color: #464646;
}

.footer .footer_nav .list a:hover span {
  transform: translateX(0);
}

.footer .footer_nav .list a:hover span::before {
  transform: translateX(0);
}

/* ========== RWD ========== */

@media screen and (max-width: 1400px) {

  .footer_outline {
    min-width: 100%;
  }

  .footer_frame {
    min-width: 100%;
  }

  .footer {
    width: 85vw;
  }

}

@media screen and (max-width: 992px) {

  .footer {
    width: 90vw;
  }

  .footer .footer_nav a {
    margin: 0 10px;
  }

}

@media screen and (max-width: 768px) {

  .footer {
    width: 70vw;
  }

  .footer .hide {
    display: none;
  }

  .footer_left .logo img {
    height: 72px;
    width: 66.6px;
  }

}

@media screen and (max-width: 414px) {

  .footer_outline {
    min-width: 320px;
  }

  .footer_frame {
    min-width: 320px;
  }

  .footer {
    width: 70vw;
    min-width: 320px;
    justify-content: center;
  }

}

/* ========== 調整手機邊界圓角 ========== */

@media screen and (max-width: 425px) {

  .footer_frame {
    border-radius: 32px 32px 0px 0px;
  }
}